/* NAVIGATION */
nav {
  width: 100vw;
  font-family: "DM Serif Text", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #262626;
  color: white;
  padding: 1rem 6rem;
  gap: 1rem;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 80px;
  margin-right: 15px;
  border-radius: 12px;
  object-fit: contain;
}

.nav-section {
  display: flex;
  font-family: "Montserrat", serif;
  align-items: center;
  gap: 4rem;
  margin: 0;
  padding: 0;
}

.nav-section li {
  list-style-type: none;
  color: #fff;
}

.nav-section li a {
  text-decoration: none;  
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-section li a:hover {
  background-color: #fff;
  color: #262626;
}

.basket i {
  font-size: 24px;
  margin: 0 5px;
  color: #ebba7f; 
  transition: 0.5s ease;
}

.basket i:hover {
  color: #ff9800;
}


.active {
  background-color: #fff;
  color: #262626;
}